/* src/index.css or your main CSS file */
.scroll-container {
  /* For WebKit browsers (Chrome, Safari) */
  -webkit-overflow-scrolling: touch;
}

.scroll-container::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color of the scrollbar thumb */
  border-radius: 10px; /* Adjust the roundness of the scrollbar thumb */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Adjust the color of the scrollbar track */
}